* {
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
body {
    display: grid;
    grid-template-columns: 0.25fr 1fr 1fr;
    grid-template-rows: 0.1fr 0.5fr 0.1fr;
    background-color: white;
    gap: 5px;
    max-height: 100vh;
    width: auto;
    min-width: 900px;
    max-width: 1920px;
}

header {
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    grid-template-rows: 1fr;
    grid-column: 1/4;
    align-items: center;
    min-width: 100%;
    justify-items: center;
    height: 95%;
    border-radius: 5px;
    background-color: lightskyblue;
    font-size: 16px;
}

.header-logo {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 5px;
}

.header-img {
    max-width: 200px;
    max-height: 200px;
}

 nav a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: white;
}

.header-nav {
    width: 100%;
}

.header-nav ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 2/3;
    text-align: center;
}
.header-nav li {
    margin-right: 10px;
    padding: 0.5rem;
    background-color: white;
    border-radius: 5px;
    border: 0.25rem white solid;
}
.header-nav li:hover {
    background-color: lightskyblue;
}

main {
    display: grid;   
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr;
    grid-column: 1/4;
    grid-row: 2/3;
    margin: 5px;
    justify-content: center;
    align-items: flex-start;
    background: whitesmoke;

}

.main-box-1 {
    display: flex;
    justify-content: center;
    /* background-color: lightblue; */
    background-color: rgba(224, 187, 19, 0.5);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    
    
}
.main-box-2 {
    display: flex;
    justify-content: center;
    background-color: rgba(224, 187, 19, 0.5);
}
.main-box-3 {
    display: flex;
    justify-content: center;
    background-color: rgba(224, 187, 19, 0.5);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.card {
    height: 300px;
    margin: 10px;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
    border-radius: 30px;
    z-index: 1;

}

.card img {
    height: 300px;
    width: 350px;
    border-radius: 30px;
}

.text  {
    height: 100px;
    width: 350px;
    box-sizing: border-box;
    position: relative;
    bottom: 100px;
    background: rgb(27, 27, 27, .5);
    color: white;
    transition: .5s;
}

.text h1 {
    margin: 10px;
    font-size: 25px;
}

.text p {
    margin: 20px;
    font-size: 16px;
    visibility: hidden;
    opacity: 0;
}

.card :hover {
    cursor: pointer;
}

.card:hover .text {
    height: 250px;
    bottom: 250px;
    background: lightseagreen;

}


.card:hover p {
    opacity: 1;
    visibility: visible;
}


.card:hover {
    transform: scale(1.1);
}

.card a {
        text-decoration: none;
}
/* articulo bajo las tarjetas  */
article {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr;
    grid-column: 1/3;
    grid-row: 2/3;
    align-items: center;
    align-self: center;
}

.icon-list img {
    height: 50px;
    width: 50px;

}
.icon-list a {
    text-decoration: none;
    align-self: center;
    background-color: rgba(224, 187, 19, 0.5);
    border-radius: 5px;
    padding: 0.5rem;
    color: black;
    box-shadow: 1px 1px 5px black;
}

.icon-list a:hover {
    background-color: rgba(32, 178, 171, 0.650);

}

.icon-list {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 1fr;
    justify-items: center;
    grid-column: 1/3;
    grid-row: 2/3;
    gap: 10px;

}
.video-1 {
    display: grid;
    grid-column: 3/4;
    grid-row: 2/3;
    justify-content: center;
    align-self: center;
    margin: 5px;
}

.video-1 iframe {
    display: grid;
    grid-column: 3/4;
    grid-row: 2/3;
    justify-items: right;
    height: 300px;
    width: 350px;
    box-shadow: 5px 5px 25px black;
}
 

footer {
    color: black;
    display: grid;
    background-color: lightskyblue;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    place-items: center;
    align-content: flex-end;
    grid-column: 1/4;
    grid-row: 3/4;
    border-radius: 5px;
    height:95%;
}

.footer-list ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: left;
}

.footer-list li {
    float: left;
    text-align: right;
    padding: 0.5rem 1rem;
}

footer a {
    text-decoration: none;
    color: black;
}


.footer-logo {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 5px;
}


@media (max-width: 900px) {

    .header-img {
        max-width: 150px;
        max-height: 150px;
    }
    
    .card {
        height: 200px;
        margin: 10px;
        box-shadow: 5px 5px 20px black;
        overflow: hidden;
        border-radius: 30px;
    }
    
    .card img {
        height: 200px;
        width: 250px;
        border-radius: 30px;
    }
    
    .text  {
        height: 100px;
        width: 250px;
        box-sizing: border-box;
        position: relative;
        bottom: 100px;
        background: rgb(27, 27, 27, .5);
        color: white;
        transition: .5s;
    }
    
    .text h1 {
        margin: 15px;
        font-size: 18px;
    }
    
    .text p {
        margin: 20px;
        font-size: 12px;
        visibility: hidden;
        opacity: 0;
    }
    
    .card :hover {
        cursor: pointer;
    }
    
    .card:hover .text {
        height: 250px;
        bottom: 200px;
        background: lightseagreen;
    
    }
    
    
    .card:hover p {
        opacity: 1;
        visibility: visible;
    }
    
    
    .card:hover {
        transform: scale(1.1);
    }
    
    .card a {
            text-decoration: none;
    }

    .article-text {
        font-size: 14px;
    }

    .video-1 iframe {
        display: grid;
        grid-column: 3/4;
        grid-row: 2/3;
        justify-items: right;
        height: 200px;
        width: 250px;

    }

    .footer-img {
        height: 30px;
    }
    .footer-list ul li {
        font-size: 10px;
    }
}

@media (max-width: 600px) {

    body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        background-color: white;
        gap: 5px;
        max-height: 100vh;
        width: auto;
        min-width: 500px;
    }

    main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-column: 1/2;
        grid-row: 2/3;
    }

    header {
    background-color: white;
    }

    .header-logo {
        grid-column: 1/3;
    }

    .header-nav {
        grid-column: 1/3;
    }

    .header-nav li {
        background-color: lightskyblue;
        border: 0.25rem lightskyblue solid;
    }
    .header-nav li:hover {
        background-color: white;
    }

    .header-nav a:hover {
        color: lightskyblue;
    }

    .header-nav ul {
        list-style: none;
        display: grid;
        grid-template-columns: 1fr;
        grid-column: 1/2;
        text-align: center;
        margin-left: 10px;
        gap: 5px;
    }

    .main-box-1 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        justify-items: center;
        grid-row: 1/2;
        background-color: whitesmoke;
    }
    .main-box-2 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        justify-items: center;
        grid-row: 2/3;
        background-color: whitesmoke;
    }
    .main-box-3 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        justify-items: center;
        grid-row: 3/4;
        background-color: whitesmoke;
    }
    
    .card {
        height: 180px;
        margin: 10px;
        box-shadow: 5px 5px 20px black;
        overflow: hidden;
        border-radius: 30px;
    }
    
    .card img {
        height: 180px;
        width: 350px;
        border-radius: 30px;
    }
    
    .text  {
        height: 50px;
        width: 350px;
        box-sizing: border-box;
        position: relative;
        bottom: 50px;
        background: rgb(27, 27, 27, .5);
        color: white;
        transition: .5s;
        text-align: center;
    }
    
    .text h1 {
        margin: 15px;
        font-size: 20px;
    }

    
    .card :hover {
        cursor: pointer;
    }
    
    .card:hover .text {
        height: 150px;
        bottom: 50px;
        background: lightseagreen;
    
    }
    
    .card:hover {
        transform: scale(1.1);
    }
    
    .card a {
            text-decoration: none;
    }

    
    article {
        grid-row: 4/5;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.1fr;

    }

    .article-text {
        font-size: 16px;
        /* min-width: 300px; */
    }   

    .icon-list {
        display: grid;
        grid-template-columns: repeat(6,1fr);
        grid-template-rows: 1fr;
        justify-items: center;
        grid-row: 5/6;
        grid-column: 1/2;
    }

    .video-1 {
        gap: 10px;
        grid-row: 6/7;
        grid-column: 1/2;
    }

    footer {
        color: black;
        display: grid;
        background-color: lightskyblue;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr;
        grid-column: 1/2;
        grid-row: 3/4;
        border-radius: 5px;
        height:95%;
        justify-content: flex-end;
        align-self: flex-end;

    }

    .footer-img {
        height: 25px;
    }
    .footer-list ul li {
        font-size: 10px;
    }
}